# Archive of files and directories to ignore in the project
/archive/

# The other working directories and files
to-do.md 
VISION.md
step-by-step.md
initial-plan.md

# Scripts
/scripts/generate_new_data.py
/scripts/split_data.py

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
ENV/
.env
.env.*

# Jupyter Notebooks
.ipynb_checkpoints/

# dbt
/dbt_project/target/
/dbt_project/logs/

# Model artifacts
# *.pkl
*.joblib

# Data
/data/simulation_claims.csv
/data/insurance_claims.csv
/data/train_claims.csv

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
*.log

# Misc
*.swp
